
<!DOCTYPE HTML>
<html lang="en-US">

{% include head.html %}

<body class="bg-black text-light">
    {% include navbar.html %}
    <div class="jumbotron container-fluid row no-gutters m-0 p-0">
        <div class="col-md-4">
            <img class="jumbotron-orion" src="/assets/images/orion.png">
        </div>
        <div class="col-md-8">
            <div class="text-center">
                <h1 class="display-1 text-green outline-black font-brand pt-4">{{ site.title }}</h1>
                <p class="fs-4 fw-bolder text-white outline-black">{{ site.description }}</p>
            </div>
        </div>
    </div>
    <div class="container bg-black">
        <div class="text-center">
            <h2 class="text-green outline-black font-brand p-3">My Friends!</h2>
            <div class="row no-gutters">
                {% 
                    include friendcard.html
                    name="Chroma9" 
                    image="/assets/images/chroma9.png"
                    bio="Chroma9 is an experimental electronic musician who's style varies from Hip-Hop to Progressive House music. Starting his music in early 2012 before coming into his own in 2020."
                    twitter="OfficialChroma9"
                    youtube="@Chroma9"
                %}

                {% 
                    include friendcard.html
                    name="BPhoenix49" 
                    image="/assets/images/Phoenix.png"
                    bio="BPhoenix49 is a variety content creator and artist! He enjoy playing games and talking about anything and everything with my chat! Feel free to stop by and have a chat with him sometime."
                    twitter="BPhoenix49"
                    youtube="@BPhoenix4976"
                    discord="wgWDrKCPBb"
                    twitch="BPhoenix49"
                %}
                
                {% 
                    include friendcard.html
                    name="Mr. Rain" 
                    image="/assets/images/Phoenix.png"
                    bio="Chroma9 is an experimental electronic musician who's style varies from Hip-Hop to Progressive House music. Starting his music in early 2012 before coming into his own in 2020."
                    twitter="Jam365"
                    youtube="@MrRainGaming"
                    discord="WrWYcUk"
                    twitch="MrRainGaming"
                %}
            </div>
        </div>
    </div>
    {% include footer.html %}
</body>
